<!-- Hero Section -->
<section class="mv5 tc mw8 ml-auto mr-auto">
  <div class="mb2">
    <p class="f2 fw3 lh-copy mb3">Simplified DNS and Domain Registration Solutions</p>
    <p class="f4 fw3 lh-copy center mb4">Secure and Efficient Domain Name System (DNS) Services</p>
    <app-button text="Get started for free"></app-button>
  </div>
  <div class="flex items-center justify-between mt5">
    <v-subsection
      description="Experience Lightning-Fast DNS for Seamless Online Presence!"
      img-name="bolt"
    ></v-subsection>
    <v-subsection
      description="Effortlessly Secure Your Online Identity with Simplified Domain Registration!"
      img-name="lock"
    ></v-subsection>
  </div>
</section>

<!-- Content Section -->
<section class="pt6 bg-yellow">
  <h-subsection
    title="Simple Domain Registration Process"
    subtitle="Registering your domain has never been easier with our streamlined process.Whether you're a seasoned website owner or just starting your  online journey, we're here to guide you effortlessly and step by step."
    image="domain"
  ></h-subsection>

  <h-subsection
    title="Wide Selection of TLDs and Extensions"
    subtitle="Choose from a vast selection of top-level domains (TLDs) and extensions to find your perfect match. Whether  you're looking for a traditional .com or a specific industry-focused  TLD, we've got you covered."
    image="selections"
    reverse-flex="true"
  ></h-subsection>
</section>

<!-- Call To Action Section -->
<section class="cover pv6 flex items-center justify-center" style="background-image:url('banana-bg.png')">
  <div class="ba b--black bw2 pv4 ph5 tc bg-white">
    <p class="f2 lh-header fw3 mb3">DNS Management Made Simple</p>
    <p class="f4 lh-copy fw3 mb3">Start Your Online Journey Today</p>
    <app-button text="Get Started for free"></app-button>
  </div>
</section>
