<app-header></app-header>

<h1 class="ba bw2 pa3 ">You made it!</h1>

<div class="lh-copy measure">
  <h2 class="pt3 pb2 f3 b">The page</h2>
  <p class="pb3">
    Welcome to the challenge where you'll be creating a page and a signup form based on the design provided in this <a href="https://miro.com/app/board/uXjVM4hYKh4=/" class="link blue underline">Miro board</a>.
  </p>
  <p class="pb3">
    In your role at DNSimple, you'll be building a sketch or low-fi wireframe from scratch like the one on the Miro board above with the marketing team before you jump to the implementation.
  </p>

  <h2 class="pt3 pb2 f3 b">CSS Styling</h2>
  <p class="pb3">
    Currently, this page uses <a href="http://tachyons.io/" class="link blue underline">Tachyons CSS</a>, the CSS library used at DNSimple.
  </p>
  <p class="pb3">
    If you feel more comfortable using Tailwind CSS,
    adjust the <code class="f5 bg-light-yellow">app/views/layout/application.html.erb</code> to swap out the CSS libraries.
    Remove the comment on line 11 and comment line 14.
  </p>
  <p class="pb3">
    We ❤️ functional CSS libraries, and we hope you do as well!
  </p>

  <h2 class="pt3 pb2 f3 b">The Javascript</h2>
  <p class="pb3">
    We have provided a small Vue.js component called "signup-button" for you to work with.
    Locate the component file in the <code class="f5 bg-light-yellow">app/javascript/components</code> folder.
  </p>
  <div class="pt2 pb4">
    <signup-button text="Sign Up, Kinda"></signup-button>
  </div>
  <p class="pb3">We're excited for you to take on this challenge! We hope you have fun with it.</p>
  Best,<br>
  The team at dnsimple.
</div>
