<!-- Hero Section -->
<section class="mv5 tc mw8 ml-auto mr-auto">
  <div class="mb2">
    <p class="f2 fw3 lh-copy mb3">Simplified DNS and Domain Registration Solutions</p>
    <p class="f4 fw3 lh-copy center mb4">Secure and Efficient Domain Name System (DNS) Services</p>
    <app-button text="Get started for free"></app-button>
  </div>
  <div class="flex items-center justify-between mt5">
    <div class="tc flex flex-column items-center">
      <img src="bolt.svg" width="55" class="mb2" />
      <p class="f5 lh-copy fw3">Experience Lightning-Fast DNS for Seamless Online Presence!</p>
    </div>
    <div class="tc flex flex-column items-center">
      <img src="lock.svg" width="55" class="mb2"/>
      <p class="f5 lh-copy fw3">Effortlessly Secure Your Online Identity with Simplified Domain Registration!</p>
    </div>
  </div>
</section>